.text--press {
  display: block;
  text-align: center; }

.footer {
  content: "\00a9";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5 rem;
  background-color: black;
  text-align: center;
  align-items: center; }
  .footer p {
    color: white; }
