.name {
  padding-bottom: 0px;
  margin-bottom: -10px; }

.general--left {
  padding: 10px; }

.image {
  display: block;
  width: 200px;
  length: 150px;
  padding: 40px;
  padding-top: -10px;
  padding-left: 22.5%;
  padding-right: 22.5%; }

.scale-with-grid {
  width: 50%;
  padding: 20px;
  display: block;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 20px; }

.image--small {
  margin-right: 20px;
  margin-top: 0;
  display: inline;
  align-content: right;
  height: 250px; }
  .image--small img, .image--small img.scale-with-grid {
    outline: 0;
    max-width: 100%;
    height: auto; }

.name--small {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: -10px; }

.general {
  margin: 0px; }

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #030404; }
  .navbar p {
    margin: 15px;
    color: white;
    padding-left: 50px; }
    .navbar p a {
      text-decoration: none;
      color: white; }
      .navbar p a:hover {
        border-bottom: 1px dotted white; }

.text {
  padding: 10px;
  text-decoration: none; }

.headings {
  color: black; }
  .headings a {
    color: inherit; }

.invisible--text {
  color: white;
  font-size: 0; }

.footer {
  content: "\00a9";
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .9 rem;
  background-color: black;
  text-align: center;
  align-items: center; }
  .footer p {
    color: white;
    border-bottom: 0;
    margin: 0; }
